* {
  color: #000;
  box-shadow: none;
  /* padding: 0; */
  /* margin: 0; */
}

window {
  /* background: rgb(210, 208, 208); */
  min-height: 30px;
}

/* -----------------------status bar------------------------------- */
.section {
  margin: 0 15px;
  padding: 3px;
  /* outline: solid 1px red; */
  border-radius: 10px;
}
/* -----------------------status bar------------------------------- */

/* -----------------------power options-------------------------------- */

.power-options-popover * {
  color: black;
}
/* -----------------------power options-------------------------------- */

/* -----------------------network-------------------------------- */

.network_popover {
  background-color: transparent;
  min-height: 400px;
  min-width: 410px;
  border-radius: 0; 
  /* outline: solid 1px red; */
}  

.network_popover switch {
  border: solid 1px gray;
  margin: 0px 0 0 10px;
  min-width: 30px;
  min-height: 5px;
  background: transparent;
}

.network_popover switch slider {
  color: black;
  border: none;
  background: rgb(0, 0, 112);
  border-radius: 50%;
  min-width: 5px;
  min-height: 5px;
  margin: 1px;
}
/* -------------------------------------------------------- */
