window  {
    background: rgba(7, 2, 77, 0.978);
    min-height: 30px;
}


.section * {
    color: black;
    margin: 0 2px;
    background: white;
    padding: 2px;
    border-radius: 10px;
}


.power-btn {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.power-options-popover {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}



.power-options-popover contents {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}
